* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Font1;
  src: url(Alliance-NeueLight.otf);
}

@font-face {
  font-family: Font2;
  src: url(Alliance-NeueMedium.otf);
}

header img {
  width: 80px;
  vertical-align: middle;
}

header {

  width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 25px;
  padding: 30px 40px 20px 40px;

  position: sticky; 
  top: 0;           
  z-index: 1000;    
}

header .logo {
  flex: 0 1 auto;
}

.header-link {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #404040;
  font-size: 14px;
  letter-spacing: 0.05mm;
  font-family: Font2;
}

nav a:hover {
  color: #888787;
}

p {
  color: #404040;
  font-size: 14px;
  letter-spacing: 0.05mm;
  font-family: Font1;
}



ul {
  padding: 0;
  margin: 0;
  color: #888787;
  list-style: none;
  font-size: 10px;
  font-family: Font1;
  letter-spacing: 0.20mm;
  text-transform: uppercase;
  text-align: left; 
  justify-content: center;
}

li {
  padding-bottom: 10px;
}

.release-link {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  gap: 15px;
}

.release-tag, .release-title {
  display: inline-block;
}

footer {
  width: 100%;
}

.manifesto {
  width: 700px;
  position: relative;
  display: flex;
  vertical-align: middle;
  text-align: center;

  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;

}



.manifesto p {
  font-family: Font1;
  letter-spacing: 0.08mm;
  color:#a7a7a7;
  font-size: 12px;
  line-height: 1.3;
}




@media (max-width: 700px) {

  header img {
    width: 60px;
  }


  header {
    padding: 20px 15px 0px 15px;
    flex-direction: column;  
    align-items: flex-start; 
    background-color: #ffffff;
  }


  nav {
    width: 100%;
    justify-content: flex-start; 
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5px;
    padding-top: 10px; 
    padding-bottom: 15px;
  }

  nav a {
    font-size: 12px;
    padding-bottom: 1px;;
  }

  p {
    font-size: 9px;
    color: #404040;
    margin-top: 8px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;  
  }


  header .logo {
    position: absolute; 
    top: 16px;
    right: 20px;
  }

  header p {
    font-size: 14px;
  }

  ul {
    letter-spacing: 0.10mm;
  }

  li {
    padding-bottom: 5px;
    font-size: 9px;
    letter-spacing: 0.05m;
  }

  .release-link {
    padding-left: 15px;
    padding-right: 15px;
  }


  .manifesto {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;    
    width: 100vw;
    padding: 15px;
    padding-right: 15px;
  }

  .manifesto p {
    line-height: 1.4;
    text-align: justify;
    font-size: 10px;
    color: #888787;
  }

  

}
