
<html>
<head>
<title>Northern Electronics</title>
</head>
<body link="#000000" vlink="#000000" alink="#000000"background="" bgproperties="fixed">
<style type="text/css">a {text-decoration: none}</style>
<br>
<br>
<br>
<center>
<img src="http://northernelectronics.se/2.jpg" alt="logo" width="70px" height="70px">
<FONT FACE="verdana">
<p style="font-size:xx-small;">
<br>
<br>
<br>
<br>
New releases May 3rd:
<br>
<br>
<br>
NE57 Varg – Sky City: Even in the Heart of Heaven, Angels Can Still Feel Fear EP
<br>
NE58 Varg – Sky City: A Weak Heart to Break (Spit) EP
<br>
NE65 Vallmo – ruin walls CS
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="http://northernelectronics.bandcamp.com/">bandcamp</a> | 
<a href="http://www.discogs.com/label/Northern+Electronics">discogs</a> |
<a href="https://www.instagram.com/northernelectronics">instagram</a> |
 northernelectronicsmusic@gmail.com</p>
</font>
</center>
</body>
</html>
